<IfModule mod_rewrite.c>
    Options -Indexes
    # enable apache rewrite engine
    RewriteEngine on

    # Deliver the folder or file directly if it exists on the server
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Push every request to public/index.php
    RewriteRule ^(.*)$ public/index.php [QSA]
</IfModule>
